@model List<Book>
@{
    ViewData["Title"] = "Books";
}

<h1 class="display-4">Books</h1>
<div class = "container">
<ul >
    @foreach (Book book in Model)
    {
        
        <li>
            <div class="row">   
            <div class = "col-sm-4">
            <img
                width="200"
                src="@book.CoverPhotoUrl"
                alt="@book.Title"
                class="card-img-top"
            />
            </div>
            <div class = "col-sm-4">
                <h2 >@book.Title</h2>
                <p >By @book.Authors[0].Name</p>
                <p >@book.Isbn</p>
            </div>
            <div class="col-sm-4">

                <p class="card-text">@book.Blurb</p>

            </div>
            </div>
        </li>
        
    }
</ul>
</div>


@* 
@model List<Book>
@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">Books</h1>
    <ul>
        @foreach (Book book in Model)
        {
            <li>
                <h2>@book.Title</h2>
                <p>By @book.Author.Name</p>
                <img width="200" src="@book.CoverPhotoUrl" alt="@book.Title" />
                <p>@book.Blurb</p>
                <p>@book.Isbn</p>
            </li>
        }
    </ul>
</div>

 *@
