@model Bookish.Models.Request.UpdateLoanRequest
@{
    ViewData["Title"] = "Return loan";
}



<h1>Return a book</h1>
<form
    asp-controller="Home"
    asp-action="UpdateLoan"
    method="post"
>

    <label asp-for="MemberId">
        Member: <select asp-for="MemberId" asp-items="ViewBag.Members" onchange="showBooksFromActualLoans()"></select>
    </label>

    <input class="invisible" asp-for="CopyId">

    
    @section scripts {
    <script>
        $(document).ready(function() {
            
            showBooksFromActualLoans();
            
        })
        function showBooksFromActualLoans() {

            var selectedId=document.getElementById('MemberId').value;
            rec='recAct'; 
            const records = document.querySelectorAll(`[id^="recAct"]`);
            
            records.forEach(function(r)  {
                if (rec+selectedId!=r.id) {
                    document.getElementById(r.id).classList.remove('visible');
                    document.getElementById(r.id).classList.add('invisible');
                }
                else {
                    document.getElementById(r.id).classList.remove('invisible');
                    document.getElementById(r.id).classList.add('visible');
                }
            });        
        }
        function pickUpCopyId(copyid){
            document.getElementById('CopyId').value=copyid;
            document.getElementById('CopyId').innerHTML=copyid;
        }
    </script>
    }
    @{   
        var recordActId=" ";
    }
  
    <br/><br/>
    
        @foreach (Member m in ViewBag.MembersFullInfo) {
            
            recordActId="recAct"+@m.Id.ToString();
            <div class = "container">
            <ol id=@recordActId class="invisible, noframe">
                @foreach (Loan l in m.LoanListActual)
                {
                    <li>
                        <div class="row">
                            <div class = "col-sm-3">
                                <img width="50" src="@l.Copy.Book.CoverPhotoUrl" alt="@l.Copy.Book.Title" />    
                            </div>
                            <div class = "col-sm-6">
                                <p>@l.Copy.Book.Title</p>
                                <br/>
                                <p>Issue Date: @l.IssueDate</p>
                            </div>
                            <div class = "col-sm-3">
                                <button value="Return" type="submit" onclick="pickUpCopyId(@l.Copy.CopyId)">Return</button>
                            </div>
                            
                            
                        </div>
                    </li>
                }
            </ol>
            </div>
        }
    
   
</form>
