@model Bookish.Models.Request.CreateLoanRequest
@{
    ViewData["Title"] = "Return loan";
}



<h1>Return a book</h1>
<form
    asp-controller="Home"
    asp-action="UpdateLoan"
    method="patch"
>

    <label asp-for="MemberId">
        Member: <select asp-for="MemberId" asp-items="ViewBag.Members" onchange="showBooksFromActualLoans()"></select>
    </label>

    @section scripts {
    <script>
        $(document).ready(function() {
            
            showBooksFromActualLoans();
            
        })

        function showBooksFromActualLoans() {

            var selectedId=document.getElementById('MemberId').value;
            rec='recAct'; 
            const records = document.querySelectorAll(`[id^="recAct"]`);
            
            records.forEach(function(r)  {
                console.log(r.id);
                if (rec+selectedId!=r.id) {
                    document.getElementById(r.id).classList.remove('visible');
                    document.getElementById(r.id).classList.add('invisible');
                }
                else {
                    document.getElementById(r.id).classList.remove('invisible');
                    document.getElementById(r.id).classList.add('visible');
                }
            });
            
        }
    </script>
    }
    @{   
        var recordActId=" ";
    }
  
    <br/><br/>
    @foreach (Member m in ViewBag.MembersFullInfo) {
        @* <p>@m.FirstName</p> *@
        
        recordActId="recAct"+@m.Id.ToString();
        <ol id=@recordActId class="invisible">
            @foreach (Loan l in m.LoanListActual)
            {
                <li>
                    
                    <p>@l.Copy.Book.Title</p>
                    <img width="50" src="@l.Copy.Book.CoverPhotoUrl" alt="@l.Copy.Book.Title" />
                    <p>Issue Date: @l.IssueDate</p>
                </li>
            }
        </ol>
    }

    @* <label asp-for="CopyId">
        Available books: <select asp-for="CopyId" asp-items="ViewBag.Copies"></select>

    </label> *@
@* 
    <label class="invisible">
        Photo: <select id="Photo" asp-items="ViewBag.Photos" ></select>

    </label>

    <br/><br/>

    @section scripts {
    <script>
        $(document).ready(function() {
            showABook();
        })


        function showABook() {

            document.getElementById('Photo').value=document.getElementById('BookIsbn').value;


            var listSelect = document.getElementById('Photo');
            var selectedUrl = listSelect.options[listSelect.selectedIndex].text;

            document.getElementById('BookPic3').src=selectedUrl;
        }

    </script>
    }


    <label asp-for="NumberOfCopies">
        Number of copies (specify if more than 1): <input asp-for="NumberOfCopies">
    </label>
    <br/><br/><br/>

    <input id="BookPic3" width="150" type="image" src="https://" alt="Picture of the book" > *@

    <br/><br/><br/>



    <input type="submit">
</form>
